#heading{
    color: red;
}

.logo{
    height: 90px;
    width: 90px;
    vertical-align: middle;
}

.inputBox{
    width: 200px;
    vertical-align: middle;
}

.icon{
    width: 90px;
    height: 90px;
    vertical-align: middle;
}
